body {
    background-color: #f1dac4;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
}

header h1, header p {
    text-align: center;
    color: #474973;
    margin-bottom: 15px;
}

header p {
    font-style: italic;
    font-size: 20px;
}

form {
    background-color: #474973;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px;
    color: #f1dac4;
    font-size: 20px;
}

form p {
    margin-bottom: 5px;
    margin-top: 10px;
}

label {
    margin-right: 15px;
}

input, select {
    height: 20px;
    background-color: #a69cac;
    border: 1px solid #f1dac4;
    color: #f1dac4;
}

select {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 20px;
}

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
}

input[type="radio"] {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #a69cac;
    margin-right: 5px;
}

input[type="text"], input[type="email"], input[type="number"] {
    height: 25px;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    margin-bottom: 15px;
}

.radio-buttons label {
    position: relative;
    bottom: 3px;
    margin-right: 20px;
}

.checkboxes label {
    position: relative;
    bottom: 17px;
}

textarea {
    background-color: #a69cac;
    border: 1px solid #f1dac4;
}

button {
    background-color: #a69cac;
    color: #f1dac4;
    border: 1px solid #f1dac4;
    height: 30px;
    width: 80px;
    font-size: 20px;
    padding: 3px;
}
